{% extends 'layout.html.twig' %}



{% block content %}

    
<div class="row">



<div class="news-list  col-md-12">

    {% for item in news %}
        <div class="card col-md-12 news-item">
           <div class="card-body">
            <a href="/{{ item.id }}" class="card-title">{{ item.title }}</a>
          </div>
        </div>
    {% endfor %}


</div>


  </div>
</div>



{% endblock %}

